.bg-card {
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .11);
  background-color: beige;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
};

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
};


